//font-family
$font: Raleway, sans-serif;
$font-cardo: Cardo, sans-serif;

//font-size
$f-size-h1: 4rem;
$f-size-h2: 2.25rem;
$f-size-h3: 1.875rem;
$f-size-h4: 1.5rem;
$f-size-h5: 1.125rem;
$f-size-h6: 0.8125em;