@import "../sass/_cdn.scss";
@import "../sass/_fonts.scss";
@import "../sass/_var.scss";
@import "../sass/firstscreen_header.scss";
@import "../sass/footer.scss";
@import "../sass/features.scss";
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
.container {
    max-width: 1170px;
    padding: 0 15px;
    margin: auto;
    position: relative;
    z-index: 3;
}